* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Lato', sans-serif;
  line-height: 2;
  
}

header {
  background-color: #2F5BE7;
}

.navbar-brand {
  width: 40px;
}

.navbar-brand img {
  height: 100%;
  width: 100%;
}

.navbar-brand a {
  color: #fff;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:focus {
  box-shadow: none;
}

section h4 {
  color: #0c63e4;
}

.accordion-button {
  background-color: #f3f3f3;
  color: #2F5BE7;
  font-size: 1rem;
  font-weight: 700;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #f3f3f3;
  box-shadow: none;
}

.accordion-body {
  font-size: 1rem;
  font-weight: 300;
}